<h2>Welcome to Peak Post</h2>

  <h3>Please fill out the form below to sign up and start logging routes and ascents.</h3>
  
  <form action="signup" method="post"><p>
  <label for="user[name]">First Name:</label>
  <input type="text" name="user[name]"></p>
  <p><label for="user[email]">Email:</label>
  <input type="text" name="user[email]"></p>
  <p><label for="user[password]">Password:</label>
  <input type="password" name="user[password]"></p>
  <input type="submit" name="signup" value="Submit">
  </form>