<title>Peak Post/Signup</title>

<div class="container">
  <header><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fe0e36980-6889-11e5-97d0-1456a776a4f5?fit=scale-down&amp;source=next&amp;width=700
  " width="300" height=200 class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

  <h2>Welcome to Peak Post</h2>

  <h3>Please fill out the form below to sign up and start logging routes and ascents.</h3>
  
  <form action="/signup" method="post"><p>
  <label for="user[username]">Name:</label>
  <input type="text" name="user[username]"></p>
  <p><label for="user[email]">Email:</label>
  <input type="text" name="user[email]"></p>
  <p><label for="user[password]">Password:</label>
  <input type="password" name="user[password]"></p>
  <input type="submit" name="signup" value="Submit">
  </form>