<title>Peak Post</title>
  <div class="container" style="float: left">
  <header><img src="https://cdn.britannica.com/17/83817-050-67C814CD/Mount-Everest.jpg" width="300" height=200 class="img-responsive main-image">
  <div style="float: right"> <p>Description</p>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Peak Post</h2>

    <div class="wrapper">
    <header class="header__title">
          
    <a href="/signup">Sign Up</a> /
    <a href="/login">Login</a>
          
      </div>
  </div>
</div>
