<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Peak Post</title>
<div class="container">
  <header><img src="https://cdn.britannica.com/17/83817-050-67C814CD/Mount-Everest.jpg" width="300" height=200 class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Peak Post</h2>

    

    <div class="wrapper">
      <header class="header__title">
          
            <a href="/users/signup">Sign Up</a> /
            <a href="/users/login">Login</a>
          
        </div>

    
  </div>
</div>
